In [2]:
# !pip install scikit-surprise

# Content Based Filtering With Anime Dataset
## 1 User

In [3]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [8]:
df_anime= pd.read_csv('anime.csv', usecols=['anime_id','name','rating','genre']).dropna(subset=['genre']).reset_index(drop=True)

In [9]:
df_anime

,anime_id,name,genre,rating
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",9.37
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",9.26
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",9.25
3,9253,Steins;Gate,"Sci-Fi, Thriller",9.17
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",9.16
...,...,...,...,...
12227,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,4.15
12228,5543,Under World,Hentai,4.28
12229,5621,Violence Gekiga David no Hoshi,Hentai,4.88
12230,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,4.98
12231,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,5.46

In [27]:
cvr=CountVectorizer(tokenizer=lambda x:x.split(', '))
df_genre=pd.DataFrame(cvr.fit_transform(df_anime['genre']).toarray(), columns=cvr.get_feature_names_out())
df_genre.head()

,action,adventure,cars,comedy,dementia,demons,drama,ecchi,fantasy,game,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
df_genre=pd.concat([df_anime[['anime_id','name','rating']],df_genre], axis=1)
df_genre.head()

,anime_id,name,rating,action,adventure,cars,comedy,dementia,demons,drama,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
0,32281,Kimi no Na wa.,9.37,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,5114,Fullmetal Alchemist: Brotherhood,9.26,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,28977,Gintama°,9.25,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9253,Steins;Gate,9.17,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,9969,Gintama&#039;,9.16,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
# df dengan anime yang disukai user
df_liked=df_genre.loc[df_genre['name'].isin(['Naruto', 'One Piece','Detective Conan'])].copy()
df_liked

,anime_id,name,rating,action,adventure,cars,comedy,dementia,demons,drama,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
74,21,One Piece,8.58,1,1,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
252,235,Detective Conan,8.25,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
841,20,Naruto,7.81,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [29]:
for i in cvr.get_feature_names_out(): #nama-nama genre
    df_liked[i]=df_liked['rating']*df_liked[i]
    
df_liked

,anime_id,name,rating,action,adventure,cars,comedy,dementia,demons,drama,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
74,21,One Piece,8.58,8.58,8.58,0.0,8.58,0.0,0.0,8.58,...,0.0,0.0,0.0,0.0,8.58,0.0,0.0,0.0,0.0,0.0
252,235,Detective Conan,8.25,0.00,8.25,0.0,8.25,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
841,20,Naruto,7.81,7.81,0.00,0.0,7.81,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,7.81,0.0,0.0,0.0,0.0,0.0

In [34]:
user_feature_vector=df_liked[cvr.get_feature_names_out()].sum()/df_liked[cvr.get_feature_names_out()].sum().sum()
# user_feature_vector

In [38]:
df_rec=df_genre.loc[~df_genre['name'].isin(['Naruto', 'One Piece','Detective Conan'])].drop(columns='rating').reset_index(drop=True)

In [39]:
for i in cvr.get_feature_names_out():
    df_rec[i]= df_rec[i]*user_feature_vector[i]
    
df_rec.head()

,anime_id,name,action,adventure,cars,comedy,dementia,demons,drama,ecchi,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
0,32281,Kimi no Na wa.,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.061129,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5114,Fullmetal Alchemist: Brotherhood,0.116771,0.119906,0.0,0.000000,0.0,0.0,0.061129,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28977,Gintama°,0.116771,0.000000,0.0,0.175549,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9253,Steins;Gate,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9969,Gintama&#039;,0.116771,0.000000,0.0,0.175549,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
df_rec['pred_score']=df_rec.drop(columns='anime_id').sum(axis=1)

In [44]:
df_rec[['name','anime_id','pred_score']].sort_values('pred_score',ascending=False).head(30)

                                                   name  anime_id  pred_score
240   One Piece: Episode of Nami - Koukaishi no Nami...     15323    0.826803
230   One Piece: Episode of Merry - Mou Hitori no Na...     19123    0.826803
893   One Piece: Episode of Sabo - 3 Kyoudai no Kizu...     31289    0.826803
586                                     Dragon Ball Kai      6033    0.821317
2977  Dragon Ball Z Movie 10: Kiken na Futari! Super...       903    0.821317
5994  Dragon Ball Z Movie 11: Super Senshi Gekiha!! ...       904    0.821317
4270               Dragon Ball Z: Atsumare! Gokuu World      6714    0.821317
3404  Dragon Ball Z: Zenbu Misemasu Toshi Wasure Dra...     22699    0.821317
3199             Dragon Ball Z: Summer Vacation Special     22695    0.821317
1406              Dragon Ball Z Movie 15: Fukkatsu no F     25389    0.821317
4309  Dragon Ball GT: Goku Gaiden! Yuuki no Akashi w...       987    0.821317
1927                                  Dragon Ball Super     30694    0.821317
1928                    Dragon Ball: Episode of Bardock     12231    0.821317
205                                       Dragon Ball Z       813    0.821317
513                              Dragon Ball Kai (2014)     22777    0.821317
1826  One Piece: Oounabara ni Hirake! Dekkai Dekkai ...      1237    0.765674
938               One Piece Movie 4: Dead End no Bouken       462    0.765674
1168  One Piece Movie 9: Episode of Chopper Plus - F...      3848    0.765674
2489                                  One Piece Movie 1       459    0.765674
2199      One Piece Movie 2: Nejimaki-jima no Daibouken       460    0.765674
3834                  One Piece: Taose! Kaizoku Ganzack       466    0.765674
3260          One Piece Film: Gold Episode 0 - 711 ver.     33606    0.765674
2116                         One Piece: Glorious Island     16468    0.765674
2181            Dragon Ball Movie 4: Saikyou e no Michi       893    0.765674
1573                 One Piece: Adventure of Nebulandia     32051    0.765674
1792            One Piece: Umi no Heso no Daibouken-hen      1094    0.765674
4427                              Bakuretsu Hunters OVA       808    0.765674
3198         Dragon Ball Movie 1: Shen Long no Densetsu       502    0.765674
4439                                     Dragon Ball GT       225    0.765674
3048         Dragon Ball Movie 3: Makafushigi Daibouken       892    0.765674

## With Multiple

In [45]:
df_user_item=pd.DataFrame({
    'user':['user 1','user 2','user 3','user 4'],
    32281:[7,8,9,8],
    431:[9,8,9,7],
    1698:[8,8,8,7],
    4722:[9,7,10,8]
})
df_user_item

     user  32281  431  1698  4722
0  user 1      7    9     8     9
1  user 2      8    8     8     7
2  user 3      9    9     8    10
3  user 4      8    7     7     8

In [46]:
df_genre

,anime_id,name,rating,action,adventure,cars,comedy,dementia,demons,drama,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
0,32281,Kimi no Na wa.,9.37,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,5114,Fullmetal Alchemist: Brotherhood,9.26,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,28977,Gintama°,9.25,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9253,Steins;Gate,9.17,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,9969,Gintama&#039;,9.16,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12227,9316,Toushindai My Lover: Minami tai Mecha-Minami,4.15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12228,5543,Under World,4.28,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12229,5621,Violence Gekiga David no Hoshi,4.88,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12230,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,4.98,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12231,26081,Yasuji no Pornorama: Yacchimae!!,5.46,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
df_item_feature=df_genre.loc[df_genre['anime_id'].isin(df_user_item.columns[1:])].drop(columns='rating')
df_item_feature

,anime_id,name,action,adventure,cars,comedy,dementia,demons,drama,ecchi,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
0,32281,Kimi no Na wa.,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
35,431,Howl no Ugoku Shiro,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
123,1698,Nodame Cantabile,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
236,4722,Skip Beat!,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
user_item=np.array(df_user_item.drop(columns='user'))
item_feature=np.array(df_item_feature.drop(columns=['anime_id','name']))

n_user=user_item.shape[0]
n_item= user_item.shape[1]
n_feature=item_feature.shape[1]

user_feature=np.empty((n_user,n_feature))

for i in range(n_user):
    user_feature_vector=np.matmul(user_item[i,:], item_feature)
    user_feature_vector=user_feature_vector/user_feature_vector.sum()
    user_feature[i,:]= user_feature_vector

In [55]:
df_user_feature=pd.DataFrame(user_feature, index=df_user_item['user'], columns=df_item_feature.columns[2:])

In [59]:
df_item_feature_new=df_genre.loc[~df_genre['anime_id'].isin(df_user_item.columns[1:])].drop(columns='rating').reset_index(drop=True)

In [60]:
item_feature_new= np.array(df_item_feature_new.drop(columns=['anime_id','name']))
# item_feature_new
n_item_new= item_feature_new.shape[0]
# n_item_new
user_item_score_new=np.empty((n_user,n_item_new))

for i in range(n_user):
    user_item_score_=np.matmul(item_feature_new, user_feature[i,:])
    user_item_score_new[i,:]=user_item_score_

In [64]:
df_score=pd.DataFrame(user_item_score_new).T

In [65]:
df_score.columns=df_user_item['user']
df_score

user     user 1    user 2   user 3    user 4
0      0.344595  0.335714  0.33750  0.328358
1      0.114865  0.107143  0.11250  0.111940
2      0.000000  0.000000  0.00000  0.000000
3      0.114865  0.107143  0.11250  0.111940
4      0.385135  0.385714  0.39375  0.395522
...         ...       ...      ...       ...
12223  0.000000  0.000000  0.00000  0.000000
12224  0.000000  0.000000  0.00000  0.000000
12225  0.000000  0.000000  0.00000  0.000000
12226  0.000000  0.000000  0.00000  0.000000
12227  0.000000  0.000000  0.00000  0.000000

[12228 rows x 4 columns]

In [68]:
df_score=pd.concat([df_score,df_item_feature_new[['anime_id','name']]],axis=1)

In [70]:
df_score.head()

,user 1,user 2,user 3,user 4,anime_id,name
0,0.344595,0.335714,0.33750,0.328358,5114,Fullmetal Alchemist: Brotherhood
1,0.114865,0.107143,0.11250,0.111940,28977,Gintama°
2,0.000000,0.000000,0.00000,0.000000,9253,Steins;Gate
3,0.114865,0.107143,0.11250,0.111940,9969,Gintama&#039;
4,0.385135,0.385714,0.39375,0.395522,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...

In [72]:
# user1
df_score[['user 1', 'anime_id','name']].sort_values('user 1', ascending=False).head(10) #10 anime yg direkomendasikan ke user 1

        user 1  anime_id                                               name
318   0.790541       232                                  Cardcaptor Sakura
1689  0.790541      1744                      Wagamama☆Fairy Mirumo de Pon!
1957  0.743243     13931  Bishoujo Senshi Sailor Moon: Sailor Stars - He...
908   0.743243       123                                      Fushigi Yuugi
921   0.743243       997  Bishoujo Senshi Sailor Moon S: Kaguya Hime no ...
2290  0.743243      3298                                     Hatenkou Yuugi
530   0.743243       996          Bishoujo Senshi Sailor Moon: Sailor Stars
1466  0.743243       435                              Magic Knight Rayearth
1491  0.743243       142                             Kamikaze Kaitou Jeanne
5122  0.743243      2535                Angelique: Seichi yori Ai wo Komete

In [73]:
# user2
df_score[['user 2', 'anime_id','name']].sort_values('user 2', ascending=False).head(10)

        user 2  anime_id                                               name
318   0.771429       232                                  Cardcaptor Sakura
1689  0.771429      1744                      Wagamama☆Fairy Mirumo de Pon!
688   0.721429       451                       InuYasha: Tenka Hadou no Ken
3278  0.721429      6489  Zero no Tsukaima: Princesses no Rondo Picture ...
177   0.721429     18195                           Little Busters!: Refrain
220   0.721429      2167                                            Clannad
316   0.721429     16001                       Kokoro Connect: Michi Random
609   0.721429     20517                                Little Busters!: EX
514   0.721429     11887                                     Kokoro Connect
430   0.714286       122                             Full Moon wo Sagashite

In [74]:
# user3
df_score[['user 3', 'anime_id','name']].sort_values('user 3', ascending=False).head(10)

       user 3  anime_id                                               name
318   0.79375       232                                  Cardcaptor Sakura
1689  0.79375      1744                      Wagamama☆Fairy Mirumo de Pon!
1992  0.73750       104                                    Ayashi no Ceres
1957  0.73750     13931  Bishoujo Senshi Sailor Moon: Sailor Stars - He...
2290  0.73750      3298                                     Hatenkou Yuugi
921   0.73750       997  Bishoujo Senshi Sailor Moon S: Kaguya Hime no ...
908   0.73750       123                                      Fushigi Yuugi
1491  0.73750       142                             Kamikaze Kaitou Jeanne
5122  0.73750      2535                Angelique: Seichi yori Ai wo Komete
5455  0.73750     10028                        Magic Knight Rayearth Omake

In [75]:
# user4
df_score[['user 4', 'anime_id','name']].sort_values('user 4', ascending=False).head(10)

        user 4  anime_id                           name
1689  0.783582      1744  Wagamama☆Fairy Mirumo de Pon!
318   0.783582       232              Cardcaptor Sakura
177   0.731343     18195       Little Busters!: Refrain
609   0.731343     20517            Little Busters!: EX
514   0.731343     11887                 Kokoro Connect
316   0.731343     16001   Kokoro Connect: Michi Random
220   0.731343      2167                        Clannad
681   0.731343     21995                   Ao Haru Ride
430   0.731343       122         Full Moon wo Sagashite
1081  0.731343      1579   Kiniro no Corda: Primo Passo

# Collaborative Filtering: Model based

In [76]:
import pandas as pd
import numpy as sns

import seaborn as sns

from surprise import Reader,Dataset, SVD, BaselineOnly, accuracy
from surprise.model_selection import cross_validate, train_test_split, GridSearchCV

In [78]:
df=pd.read_csv('u.data', sep='\t', names=['user_id','item_id','rating','timestamp'])

## Data

In [79]:
df

        user_id  item_id  rating  timestamp
0             0       50       5  881250949
1             0      172       5  881250949
2             0      133       1  881250949
3           196      242       3  881250949
4           186      302       3  891717742
...         ...      ...     ...        ...
99998       880      476       3  880175444
99999       716      204       5  879795543
100000      276     1090       1  874795795
100001       13      225       2  882399156
100002       12      203       3  879959583

[100003 rows x 4 columns]

In [85]:
df['rating'].value_counts()

4    34174
3    27145
5    21203
2    11370
1     6111
Name: rating, dtype: int64

In [80]:
df.pivot_table(values='rating',index='user_id',columns='item_id') # user item matrix

item_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
reader=Reader(rating_scale=(0,5))
data= Dataset.load_from_df(df[['user_id','item_id','rating']],reader)

In [84]:
data.df.head()

   user_id  item_id  rating
0        0       50       5
1        0      172       5
2        0      133       1
3      196      242       3
4      186      302       3

## Validation

In [86]:
# data splitting
trainset, testset= train_test_split(data,test_size=0.25, random_state=101)

In [87]:
#SVD
algo=SVD()
algo.fit(trainset)
prediction=algo.test(testset)

In [89]:
# prediction

In [90]:
accuracy.rmse(prediction)

RMSE: 0.9394

0.9394369399556037

In [91]:
# ALS
bsl_option= {'method':'als',
            'n_epoch':5,
            'reg_u':12,
            'reg_i':5}
algo=BaselineOnly(bsl_options=bsl_option)
algo.fit(trainset)
prediction= algo.test(testset)

Estimating biases using als...

In [93]:
accuracy.rmse(prediction)

RMSE: 0.9407

0.9407128231972565

## Cross Validasi

In [94]:
# SVD
algo=SVD()
cv_svd= cross_validate(algo,data,measures=['RMSE','MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9352  0.9379  0.9339  0.9381  0.9383  0.9367  0.0018
MAE (testset)     0.7382  0.7385  0.7351  0.7391  0.7394  0.7380  0.0015
Fit time          5.41    4.46    4.17    4.24    5.00    4.66    0.47
Test time         0.11    0.11    0.13    0.15    0.10    0.12    0.02

In [95]:
print('rmse cv mean', cv_svd['test_rmse'].mean())

rmse cv mean 0.9366959480043915

In [96]:
# ALS
bsl_option={
    'method':'als',
    'n_epoch':5,
    'reg_u':12,
    'reg_i':5
}
algo= BaselineOnly(bsl_options=bsl_option)
cv_als=cross_validate(algo,data, measures=['RMSE','MAE'], cv=5, verbose=False)

Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...

In [98]:
print('rmse cv mean', cv_als['test_rmse'].mean())

rmse cv mean 0.9414701743487404

berdasarkan hasil cross validasi, SVD memiliki performa sedikit lebih baik dibanding ALS

## Hyperparameter Tunning

In [102]:
param_grid={
    'n_epochs':[5,10,20],
    'lr_all':[0.002,0.005],
    'reg_all':[0.2,0.4,0.6]
}
# n_epochs – The number of iteration of the SGD procedure. Default is 20.
# lr_all – The learning rate for all parameters. Default is 0.005
# reg_all – The regularization term for all parameters. Default is 0.02
# https://surprise.readthedocs.io/en/stable/matrix_factorization.html

In [103]:
gs= GridSearchCV(SVD, param_grid, measures=['RMSE','MAE'],cv=5)
gs.fit(data)

In [107]:
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.9456635623382713
{'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.2}

In [108]:
print(gs.best_score['mae'])
print(gs.best_params['mae'])

0.7528350321817763
{'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.2}

In [111]:
# performace to data test
algo= SVD(n_epochs= 20, lr_all= 0.005, reg_all= 0.2)
algo.fit(trainset)
prediction= algo.test(testset)
accuracy.rmse(prediction)

RMSE: 0.9453

0.9453224888063732

In [112]:
# before after tunning
# before

algo= SVD()
algo.fit(trainset)
prediction= algo.test(testset)
accuracy.rmse(prediction)

RMSE: 0.9406

0.9405842015729319

before tunning memiliki performa sedikit lebih baik

## Prediction Result
prediksi rating yang diberikan oleh user 0,111,212 terhadap item 565,647, 665 dan 677

In [113]:
df_test=pd.DataFrame(columns=['user_id','item_id'])

for i in [0,111,212]:
    for j in[565,647, 665,677]:
        df_test= df_test.append({'user_id':i, 'item_id':j}, ignore_index=True)

In [114]:
df_test

   user_id item_id
0        0     565
1        0     647
2        0     665
3        0     677
4      111     565
5      111     647
6      111     665
7      111     677
8      212     565
9      212     647
10     212     665
11     212     677

In [115]:
algo=SVD()
algo.fit(trainset)

In [116]:
algo.predict(0,565) #user id=0, item id=565

Prediction(uid=0, iid=565, r_ui=None, est=2.8219781973577653, details={'was_impossible': False})

In [117]:
y=[]

for _,row in df_test.iterrows():
    est=algo.predict(row['user_id'],row['item_id'])
    y.append(est[3])

In [118]:
df_test['rating']=y

In [119]:
df_test

   user_id item_id    rating
0        0     565  2.821978
1        0     647  3.967240
2        0     665  2.670179
3        0     677  3.335326
4      111     565  2.564256
5      111     647  3.947161
6      111     665  2.775476
7      111     677  3.065441
8      212     565  2.658228
9      212     647  4.135885
10     212     665  2.577168
11     212     677  2.932496

In [121]:
df_test[df_test['user_id']==0].sort_values('rating',ascending=False)

  user_id item_id    rating
1       0     647  3.967240
3       0     677  3.335326
0       0     565  2.821978
2       0     665  2.670179

untuk user 0, urutan rekomendasinya adalah item 647,677,565,665.